/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffcfd;
  --foreground: #1a1718;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0808;
    --foreground: #f8f6f7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist), var(--font-kelson), Arial, Helvetica, sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}
